*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background: #222;
}
.card{
        width: 90%;
        height: 90%;
        max-width: 470px;
        background: linear-gradient(135deg,#8fd3ec,#2e2377);
        color: rgba(198, 192, 216, 0.971);
        margin: 100px auto 0;
        border-radius: 20px;
        padding: 40px 35px;
        text-align: center;
        
}
.login{
    flex: 2;
    background: #d8d8e2;
    color: rgb(2, 22, 40);
    height: 30px;
    width: 60px;
    text-align: center;
    border-radius: 10px;
    border: 5;
    border-color: #446339;
    box-sizing:border-box;
    justify-content: center;
}
.log h3{
    font-size: 30px;
    color: rgb(58, 77, 27);
    

}
.log{
    padding: 10px 10px;
    margin: 10px;
    flex: 1;

    
}
.head{
    margin-top: 10px;
}
input{
    padding: 10px;
    border-radius: 10px;
    border-color: #2e2377;
    text-align: center;
    margin-top: -20px;
    
}
.login:hover{
    background-color: rgb(3, 23, 40);
    color: #d8d8e2;
    border-color: aliceblue;
}
.weather-icon{
    width: 150px;
    margin-top: 30px;
}
h3{
    font-size: 20px;
}
.usps{
    margin-top: 10px;
    width: 30px;

}
.signin{
    flex: auto;
    text-align: right;
}
.logins{
    flex: 2;
    background: #d8d8e2;
    color: rgb(2, 22, 40);
    height: 50px;
    width: 70px;
    text-align: center;
    border-radius: 20px;
    border: 5;
    border-color: #446339;
    box-sizing:border-box;
    margin-left: 180px;
    margin-top: -200px;
}